.hidden{
    display: none;
}

.visible {
    color: white;
}

.main {
    background-color: #EA526F;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 5rem;
        text-align: center;
        background-color: #070600;
        height: 90vh;
        margin: 2rem;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 5px 20px black;
    }

    &__header {
        font-family: "Bangers";
        font-size: 4rem;
        color:  #FEFCFB;
        margin-bottom: 2rem;
    }

    &__input {
        padding: 0.75rem 1rem;
        text-align: center;
        width: 100%;
        border-radius: 30px;
        border: 3px solid black;
        margin-bottom: 1.5rem;
        font-size: 1rem;

        &:focus {
            outline: none;
            border: 3px solid #23B5D3;
        }

        &:hover {
            border: 3px solid #23B5D3;
        }
    }

    &__buttons {
        margin: 1rem;
    }

    &__submit {
        background-color: #23B5D3;
        font-family: "BN";
        color: black;
        padding: 0.5rem;
        border: none;
        border-radius: 7px;
        width: 48%;
        font-size: 1.5rem;
        transform: scale(1);
        transition: 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        &:focus {
            outline: none;
        }

        &:active {
            outline: none;
            background-color: darken(#23B5D3, 15%);
        }
    }

    &__reset {
        font-family: "BN";
        padding: 0.5rem;
        border-radius: 7px;
        background-color: white;
        color: #23B5D3;
        border: none;
        width: 48%;
        font-size: 1.5rem;
        transform: scale(1);
        transition: 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        &:focus {
            outline: none;
        }

        &:active {
            outline: none;
        }
    }

    &__gif {
        border-radius: 5px;
        margin-bottom: 2rem;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
}