@mixin button {
    @content;
    font-family: "BN";
    padding: 0.5rem;
    border: none;
    border-radius: 7px;
    width: 48%;
    font-size: 1.5rem;
    transform: scale(1);
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &:focus {
        outline: none;
    } 
} 